@import 'bootstrap-sprockets';
@import 'bootstrap';

html, body {
  height: 100%;
  text-align: center;
  overflow: hidden;
  div {
    position: relative;
    top: 25%;
    transform: translateY(-25%);
    canvas {
      width: 50%;
      height: 25%;
      border: 1px solid black;
    }
  }
}
